*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
a{
    text-decoration:none;
}
body{
    background-color: #f1f1f1;
}
@font-face {
    font-family: Arial;
    src: url(./font/ARIAL.TTF);
}
.resume{
    margin: 2rem auto 0px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.main{
    background-color: #f1f1f1;
    /* margin  : 2%; */
    display: flex;
    width: 90%;
}
.main .left{
    border-radius: 5px;
    overflow: hidden;
    margin-right: 0.6rem;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    width:36%;
    padding: 0px;
    background-color: #2595beec;
}
.main .left .profile-photo{
    position: relative;
}
.main .left .profile-photo img{
    width:100%;
}
.main .left .profile-photo .name{
    bottom: 5px;
    left:5px;
    font-size:20px;
    font-weight:550;
    position: absolute;
}
.main .left .contact{
    color: white;
    padding: 2rem 1rem 0rem;
}
.main .left .contact h2{
    text-transform: uppercase;
}
.details{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}
.detail{
    margin-bottom: 15px;
}
.detail .le{
    margin-right: 5px;
    display: inline-block;
}
.detail .ri{
    margin-left: 5px;
    display:inline-block;
}
.detail *{
    vertical-align: middle;
}
.detail .ri a{
    color: white;
    font-size: 14px;
}
.detail .ri a:hover{
    text-decoration:underline;
}
.detail .le img{
    width:14px;
    /* color: white; */
}
.detail .le{
    width:3%;
}
.detail .ri p{
    font-size:14px;
}
.skills{
    color: white;
    padding: 0.5rem 1rem 1rem;
}
.skills h2{
    text-transform: uppercase;
    padding: 1rem 0px 0px;
    color: white;
}
.skill{
    margin: 1rem auto;  
}
.skill p{
    font-size: 14px;
}
.meter{
    margin: 0.2rem auto;
    border-radius: 5px;
    position: relative;
    background-color: white;
    width:100%;
    height:10px;
}
.meter .per1{
    position: absolute;
    width: 75%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per2{
    position: absolute;
    width: 75%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per3{
    position: absolute;
    width: 75%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per4{
    position: absolute;
    width: 100%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per11{
    position: absolute;
    width: 100%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per12{
    position: absolute;
    width: 100%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per15{
    position: absolute;
    width: 100%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per5{
    position: absolute;
    width: 25%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per6{
    position: absolute;
    width: 75%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per7{
    position: absolute;
    width: 40%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per8{
    position: absolute;
    width: 80%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per14{
    position: absolute;
    width: 80%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per13{
    position: absolute;
    width: 80%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per10{
    position: absolute;
    width: 80%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per9{
    position: absolute;
    width: 80%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per16{
    position: absolute;
    width: 80%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per17{
    position: absolute;
    width: 100%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.meter .per18{
    position: absolute;
    width: 100%;
    border-radius:5px;
    height:10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.languages{
    text-transform: uppercase;
    color: white;
    padding: 0.5rem 1rem 1rem;
}
.languages h2{
    text-transform: uppercase;
    color: white;
}
.dot{
    display: inline-block;
    width:25px;
    height:25px;
    border: 2px solid black;
    border-radius:50%;
    /* color: white; */
    background-color: rgba(0, 0, 0, 0.637);
}
.value{
    text-align: right;
}
.key{
    vertical-align:middle;
    line-height:2em;
}
.language{
    font-size: 14px;
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 2rem;
    margin-top: 15px;
}
.dot-unfilled{
    display: inline-block;
    width:25px;
    height:25px;
    border: 2px solid black;
    border-radius:50%;
    /* color: white; */
    /* background-color: rgba(0, 0, 0, 0.637); */
}
.hobbies{
    color: white;
    padding: 0.5rem 1rem 1rem;
}
.hobbies h2{
    text-transform: uppercase;
    color: white;
    margin-bottom: 1rem;
}
.hobby{
    font-size: 14px;
    text-transform: capitalize;
    margin: 0.6rem auto;
}
.awards{
    color: white;
    padding: 0rem 1rem 1rem;
}
.awards h2{
    text-transform: uppercase;
    color: white;
    margin-bottom: 0.5rem;
}
.awards p{
    font-size: 14px;
    margin-top: 5px;
}
.awards ul{
    padding: 0.5rem 1rem;
}
.awards ul li{
    font-size: 14px;
    line-height: 1.5em;
}
.main .right{
    width:65%;
    padding: 2rem 1.5rem;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    margin-left: 0.7rem;
}
.main .right header{
    border-bottom: 2px solid #2595beec;
}
.main .right header h1{
    font-size: 30px;
    letter-spacing:1px;
}
.main .right header p{
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px auto;
}
.summary{
    /* padding: 0rem 1rem 1rem; */
    text-transform: uppercase;
}
.summary h2{
    margin-top: 1.5rem;
    color: #2595beec;
}
.summary-data{
    margin-top: 0.5rem;
    text-transform: none;
    line-height: 1.5rem;
}
.education h2{
    text-transform: uppercase;
    margin-top: 1rem;
    color: #2595beec;
}
.profession-name p{
    font-size:16px;
    line-height: 1.5em;
    font-weight: 700;
    text-transform:none;
}
.duration p{
    font-size: 14px;
    text-transform: none;
    color:#2595beec;
}
.profession{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}
.college{
    margin-top:0.4rem;
    line-height:1.5em;
}
ul{
    padding: 0.5rem 1rem;
}
.education ul li{
    word-spacing: 8px;
    line-height:1.5em;
}
.experience h2{
    text-transform: uppercase;
    margin-top: 1rem;
    color: #2595beec;
}
.projects h2{
    text-transform: uppercase;
    margin-top: 1rem;
    color: #2595beec;
}
ul li{
    line-height: 1.5em;
}
.declaration h2{
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 10px;
    color: #2595beec;
}
.ending{
    margin-top: 1rem;
    font-weight: bold;
}
footer h2{
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}
footer h2:hover{
    text-shadow: 0px 0px 5px #000;
}